[Unit]
Description=Gnome-Shell

[Service]
Type=simple
Restart=always
ExecStart=/bin/bash -c 'export $$(dbus-launch) ; exec /usr/bin/gnome-shell --no-x11 --headless --mode=user'
EnvironmentFile=/etc/default/kvdi

[Install]
WantedBy=default.target
