[Unit]
Description=Gnome-Shell

[Service]
Type=dbus
BusName=org.kubevda.gnomeshell
Restart=always
ExecStart=/usr/bin/gnome-shell --no-x11 --headless --mode=user
EnvironmentFile=/etc/default/kvdi

[Install]
WantedBy=default.target
