[Unit]
Description=Configure Gnome-Remote-Desktop

[Service]
Type=dbus
ExecStart=/usr/local/bin/setup-grd
EnvironmentFile=/etc/default/kvdi

[Install]
WantedBy=default.target
