[Unit]
Description=SystemD User Init Process
Wants=network.target

[Service]
Type=simple
EnvironmentFile=/etc/default/kvdi
ExecStart=/usr/local/sbin/user-init
UtmpIdentifier=cons
TTYVHangup=yes
KillMode=process
IgnoreSIGPIPE=no
SendSIGHUP=yes
Restart=always

[Install]
WantedBy=multi-user.target
